h1{
    text-align: center;
    color :ghostwhite;
    font-size: 50px;
    /* background-color: lightblue; */
}
.container {
    display: flex;
    flex-wrap: wrap;
    padding: 70px;
}

.container > div {
    background-color:black;
    font-size: 20px;
    margin: 20px;
    /* padding: 20px; */
    width: 300px;
}
body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h3{
    text-align: center;
    color:ghostwhite;
}
#id{
    text-align: center;
    color: ghostwhite;
}
@media (min-width: 500px) {
    h1::before {
        content : "MY DREAM CARS"
    }
}

@media (max-width: 500px) {
    h1::before {
        content : "DREAM CARS"
    }
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 300px;
    height: 170px;
  }

  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }