<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class = "container d-flex">
        <form class = "form text-center">
            <h1 class="mt-5 font-weight-dark text-uppercase">Registration</h1>
            <div class="form-group">
                <input type = "text" name = "name" class = "form-control rounded form-control-lg" placeholder="Enter Your Name">
            </div>
            <div class="form-group">
                <input type = "text" name = "email" class = "form-control rounded form-control-lg" placeholder="Enter Email">
            </div>
            <div class="form-group">
                <input type = "password" name = "pswd" class = "form-control rounded form-control-lg" placeholder="Enter password">
            </div>
            <button type= "submit" class = "btn mt-3 btn-primary btn-custom btn-block text-uppercase rounded btn-lg">
                Register
            </button>
        </form>
    </div>
</body>
</html>