<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="static/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    {% if name == "mismatch" %}
        <div><h4>Password mismatch please register again<h4>
    {% endif %}
    <div class = "container d-flex">
        <form class = "form text-center" method = "POST">
            <!-- action = "{{ url_for('register') }}" -->
            <h1>REGISTRATION</h1><br>
            <div class="form-group">
                <input type = "text" name = "name" class = "form-control rounded-pill form-control-lg" placeholder="Enter Your Name" required>
            </div>
            <div class="form-group">
                <select class="form-control rounded-pill" id = "gender" required>
                    <option value="" hidden>Gender</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Transgender</option>
                </select>
            </div>
            <div class="form-group">
                <input type = "text" name = "email" class = "form-control rounded-pill form-control-lg" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <input type = "password" name = "pswd" class = "form-control rounded-pill form-control-lg" placeholder="Enter password" required>
            </div>
            <div class="form-group">
                <input type = "password" name = "rpswd" class = "form-control rounded-pill form-control-lg" placeholder="Renter password" required>
            </div>
            <button type= "submit" onclick="register()" class = "btn mt-3 btn-primary btn-custom btn-block text-uppercase rounded-pill btn-lg">
                Register
            </button>
        </form>
    </div>
</body>
</html>