body
{
    font-size: 14px;
    background-image: url("images/book.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    color: ghostwhite;
    font-size: 14px;
}
h1{
    color:ghostwhite;
    font-weight: 800;
}
h4{
    color : ghostwhite;
    text-align: center;
}
.container
{
    height: 100vh;
    width: 100%;
    align-items:center;
    justify-content:center;
    /* opacity: .90; */
}
.form
{
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}
.form-control
{
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.form-control:focus
{
    border-color: #723dbe;
    box-shadow: 0 0 0 .2rem rgba(114,61,190,.25);
}
.btn-custom
{
    background-color: #723dbe;
    border-color: #723dbe;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus
{
    background-color: #54229d;
    color: #54229d;
    color: #fff;
}
.btn-custom:focus
{
    box-shadow: 0 0 0 .2rem rgba(114,61,190,.25);
}